.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include mq(mobile-only) {
      flex-direction: column;
      align-items: center;
    }
    @include mq(desktop) {
      align-items: baseline;
    }
    & p {
      color: #ffffff;
    }
  }
  &__adress {
    @include mq(mobile-only) {
      // margin-bottom: 60px;
      text-align: center;
    }
    @include mq(tablet-only) {
      // margin-bottom: 60px;
      // margin-right: 165px;
      // margin-left: 61px;
      text-align: center;
    }
    @include mq(desktop) {
      margin-right: 70px;
    }
  }
  &__social {
    margin-bottom: 60px;
    & h3 {
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &__item:not(:last-child) {
      margin-right: 10px;
    }
    @include mq(mobile-only) {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include mq(tablet-only) {
      padding-bottom: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__join {
    & h3 {
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      // margin-top: 30px;
      margin-bottom: 10px;
    }
    @include mq(mobile-only) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include mq(tablet-only) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include mq(desktop) {
      text-align: left;
      margin-left: auto;
      width: 570px;
    }
  }
}

.adress {
  margin-top: 20px;
  font-style: normal;
  &__link {
    line-height: 1.71;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin-top: 9px;
  }
  &__link {
    line-height: 1.71;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin-top: 9px;
    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}

.join-container {
  align-items: center;

  &__input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    padding-left: 16px;
    color: #ffffff;
    @include mq(mobile-only) {
      width: 100%;
      margin-bottom: 20px;
    }
    @include mq(tablet-only) {
      width: 100%;
      margin-bottom: 20px;
    }
    @include mq(desktop) {
      margin-right: 12px;
      flex-grow: 1;
    }
  }

  &__icon {
    margin-left: 10px;
  }

  @include mq(mobile-only) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include mq(tablet-only) {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include mq(desktop) {
    display: flex;
  }
}

.join-container__button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 10px 36px 10px 36px;
  min-width: 200px;
  justify-content: center;
  border-radius: 4px;
  border: none;
  // margin-top: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--title-text-color);
  }
}
