.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;

  @include mq(tablet) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include mq(desktop) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__container {
    display: flex;
    align-items: baseline;
  }
  &__nav {
    display: flex;
    align-items: baseline;
    @include mq(mobile-only) {
      display: none;
    }
  }
  &__list {
    display: flex;
    align-items: baseline;
  }
}

.header-nav__list {
  display: none;
  @include mq(tablet) {
    display: flex;
  }
  @include mq(desktop) {
    display: flex;
    align-items: baseline;
    margin-right: 84px;
  }
}

.contact-list {
  margin-left: auto;
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    display: flex;
    align-items: center;
  }
  &__link {
    @include mq(desktop) {
      font-size: 14px;
      line-height: 1.14;
    }
  }
  &__icon {
    fill: currentColor;
    margin-right: 8px;

    @include mq(desktop) {
      margin-right: 10px;
    }
  }
}

.icon-mail {
  width: 14px;
  height: 10px;
  @include mq(desktop) {
    width: 16px;
    height: 12px;
  }
}
.icon-tel {
  width: 10px;
  height: 14px;
  @include mq(desktop) {
    height: 16px;
  }
}

.menu-bth {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  display: none;
  @include mq(mobile-only) {
    display: block;
  }
}

.menu-btn-icon {
  display: block;
}
.icon-close {
  display: none;
}
